*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.prashantlogo{
    width: 25vw;
    height: 15vh;
}

.navMenu{
  width: 65vw;
}

.navList{
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: center;
}

.navLink{
    text-decoration: none;
    color: black;
}

nav li{
    list-style: none;
    padding-left: 5vw;
    font-size: 1.8rem;
    font-weight: 700;
}

.navLink:hover{
    color: blueviolet;
}

nav {
    background-color: white;
    width: 100%;
    align-items: center;
    height: 10vh;
    display: flex;
    padding: 1vh 1vw;
    overflow: hidden;
  }

  .introduction{
    /* background: #000; */
    display: flex;
    width: 100%;
  }

.firstCol{
    width: 10vw;
    height: 50vh;
    border: 2px solid red;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.secondCol{
    width: 30vw; 
    border: 2px solid blue;
    margin-left: 2vw;
}

.thirdCol{
    width: 50vw;
    border: 2px solid yellowgreen;
    margin-left: 2vw;
  }

  .linkedInImg{
    width: 50px;
    height: 50px;
  }

  .githubImg{
    width: 50px;
    height: 50px;
  }

  .vercelImg{
    width: 50px;
    height: 50px;
    fill: #7006E6;
  }

  div a svg{
    width: 50px;
    height: 50px;
  }

